    /************************
    GENERAL
    ************************/
    
    body {
        line-height: 1.5;
        margin: 0;
        overflow-x: hidden;
    }
    
    .container {}
    
    #contact {
        background-image: url(http://hypersitios.com/images/background-main.jpg);
    }
    
    .footerP {
        color: black;
    }
    
    h1 {
        color: blue;
        text-decoration: underline;
        word-spacing: 0.25em;
    }
    
    .icon {
        height: 32px;
        width: 32px;
    }
    
    .introP {
        padding-bottom: 95px;
        text-align: center;
    }
    
    .nav-wrapper {
        background-color: dodgerblue;
    }
    
    .navbar-brand {
        height: 50px;
    }
    
    .link {
        height: 50px;
    }
    
    p {
        font-family: 'Press Start 2P', cursive;
    }
    
    .parallax {
        height: 200px;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    
    .secret {
        padding-top: 50px;
        text-decoration: none;
    }
    
    .video {
        background-image: url(http://www.pageresource.com/wallpapers/wallpaper/abstract-blue-digital-art-black-background.jpg);
        padding-bottom: 25px;
        padding-top: 20px;
    }
    /************************
    NAVIGATIONAL BAR
    ************************/
    
    .link {
        background-color: cadetblue;
        color: white;
        display: grid;
        font-size: 1.25em;
        padding: 1em;
        text-decoration: none;
        transition: color 0.2s, background 0.5s;
    }
    
    .nav-item a:hover {
        color: darkslateblue;
    }
    
    .nav-trigger {
        clip: rect(0, 0, 0, 0);
        position: absolute;
    }
    
    label[for="nav-trigger"] {
        background-size: contain;
        cursor: pointer;
        height: 30px;
        left: 15px;
        position: fixed;
        top: 15px;
        width: 30px;
        z-index: 2;
    }
    /* Make the Magic Happen */
    
    .nav-trigger + label,
    .site-wrap {
        transition: left 0.2s;
    }
    
    .nav-trigger:checked + label {
        left: 215px;
    }
    
    .nav-trigger:checked ~ .site-wrap {
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
        left: 200px;
    }
    /************************
    HEADLINE ELEMENTS & P ELEMENTS
    ************************/
    
    h1 {
        color: honeydew;
        font-size: 5.625em;
        font-weight: normal;
        line-height: 1.3;
        margin: 12px 0 0;
        text-shadow: 0 1px 3px rgba(0, 0, 0, .8);
        text-transform: uppercase;
    }
    
    h2 {
        font-size: 53px;
        font-weight: normal;
        margin-bottom: .5em;
        text-decoration: underline;
    }
    
    h3 {
        color: black;
        font-family: 'Alegreya', serif;
        font-size: 20px;
        margin-bottom: 1.7em;
    }