<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Platformer Website</title>
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Alegreya:900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <!--
                            <link type="text/css" rel="stylesheet" href="bootstrap/bootstrap.css">
                            <link type="text/css" rel="stylesheet" href="bootstrap/bootstrap-theme.css">
                        -->
    <link type="text/css" rel="stylesheet" href="css/style.css">
</head>

<body>

    <!-- SCM Music Player http://scmplayer.net -->
    <script type="text/javascript" src="http://scmplayer.net/script.js" data-config="{'skin':'skins/black/skin.css','volume':31,'autoplay':false,'shuffle':true,'repeat':1,'placement':'bottom','showplaylist':false,'playlist':[{'title':'Mega Man Theme Song','url':'https://www.youtube.com/watch?v=ZT9DST_M_g8'},{'title':'Legend Of Zelda Theme Song','url':'https://www.youtube.com/watch?v=CHFM7f1ErZo'},{'title':'Castlevania Theme Song','url':'https://www.youtube.com/watch?v=JYfgpodCVHE'},{'title':'Sonic Theme Song','url':'https://www.youtube.com/watch?v=UEannNh8ihA'},{'title':'Super Mario Brothers Theme Song','url':'https://www.youtube.com/watch?v=mnipB_8Br8U'},{'title':'Pokemon Fire/Green Theme Song','url':'https://www.youtube.com/watch?v=-ZvM8FoDN94'},{'title':'Pacman Theme Song','url':'https://www.youtube.com/watch?v=BxYzjjs6d1s'},{'title':'Contra Theme Song','url':'https://www.youtube.com/watch?v=Tifv7qh_hmY'},{'title':'Tetris Theme Song','url':'https://www.youtube.com/watch?v=NmCCQxVBfyM'},{'title':'Donkey Kong Theme Song','url':'https://www.youtube.com/watch?v=kA5Wc1_Zghk'}]}"></script>
    <!-- SCM Music Player script end -->

    <div class="container">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <img class="navbar-brand left" src="img/SlideManLogo.png">
                    <ul id="nav-mobile" class="hide-on-med-and-down">
                        <li><a class="link" href="#P1">Intro</a></li>
                        <li><a class="link" href="#wrapper">Menu</a></li>
                        <li><a class="link" href="#features">Features</a></li>
                        <li><a class="link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <div id="P1">
            <center>
                <h1>The Slide Man</h1>

                <h2>Intro</h2>
                <p class="introP">When the world is in danger from an unknown emeny, one man will rise from the ashes. One man, with the powers of his forefathers, will breath extemely slowly, and he will slide. Yes, he will slide like no man has ever done before. He will slide at a moderate pace, and he will fall. But, when a man falls, he gets back up. This one man is different. He'll stay on the ground, and if he feels like it, he'll even stay on his side. However, when he comes upon the spike of his nightmares, what will he do? Find out on the next episode of ...... SLIDE</p>
            </center>
        </div>

        <div class="parallax-container">
            <div class="parallax"><img src="img/pixelBack2.jpg"></div>
        </div>

        <div class="section" id="wrapper">
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="img/slideMan.PNG">
                        <div class="caption center-align">
                            <h3>Sire Figgle Mentesworth of Burnonia</h3>
                            <h5 class="light grey-text text-lighten-3">A.K.A. The Slide Man</h5>
                        </div>
                    </li>
                    <li>
                        <img src="img/gameLand.PNG">
                        <div class="caption left-align">
                            <h3>The Land Of Ol'</h3>
                            <h5 class="light grey-text text-lighten-3">The land in which the story takes place.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="img/dismayPit.PNG">
                        <div class="caption right-align">
                            <h3>The Utter Disparious Pit Of Dismay</h3>
                            <h5 class="light grey-text text-lighten-3">The pit to which the protagonist falls into and fights.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="img/spike.PNG">
                        <div class="caption center-align">
                            <h3>The Immunable Spike of Yitmare</h3>
                            <h5 class="light grey-text text-lighten-3">The enemy of the game. Truly, an immunable item of utter destruction.</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="parallax-container">
            <div class="parallax"><img src="img/pixelBack3.png"></div>
        </div>

        <div id="features">

            <div>
                <center>
                    <h2>Key Features</h2>
                </center>
                <center>
                    <ul>
                        <li>
                            <h3>The Pause Screen</h3>
                        </li>

                        <li>
                            <h3>The Heart Container</h3>
                        </li>

                        <li>
                            <h3>Pause Menu Buttons</h3>
                        </li>

                        <li>
                            <h3>Main Character Names</h3>
                        </li>
                    </ul>
                </center>
            </div>
        </div>

        <div class="parallax-container">
            <div class="parallax"><img src="img/pixelBack4.jpg"></div>
        </div>

        <div class="video">
            <center><img class="materialboxed" width="650" src="img/Game-videay.gif"></center>
        </div>

        <div class="parallax-container">
            <div class="parallax"><img src="img/pixelBack.jpg"></div>
        </div>

        <!-------------------    
                            My Web-Embedded Game Code Starts Here
                        -------------------->

        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <title>Unity Web Player | Platformer</title>
            <script type='text/javascript' src='https://ssl-webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/jquery.min.js'></script>
            <script type="text/javascript">
                <!--
                var unityObjectUrl = "http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js";
                if (document.location.protocol == 'https:')
                    unityObjectUrl = unityObjectUrl.replace("http://", "https://ssl-");
                document.write('<script type="text\/javascript" src="' + unityObjectUrl + '"><\/script>');
                -->
            </script>
            <script type="text/javascript">
                <!--
                var config = {
                    width: 960,
                    height: 600,
                    params: {
                        enableDebugging: "0"
                    }

                };
                var u = new UnityObject2(config);

                jQuery(function () {

                    var $missingScreen = jQuery("#unityPlayer").find(".missing");
                    var $brokenScreen = jQuery("#unityPlayer").find(".broken");
                    $missingScreen.hide();
                    $brokenScreen.hide();

                    u.observeProgress(function (progress) {
                        switch (progress.pluginStatus) {
                        case "broken":
                            $brokenScreen.find("a").click(function (e) {
                                e.stopPropagation();
                                e.preventDefault();
                                u.installPlugin();
                                return false;
                            });
                            $brokenScreen.show();
                            break;
                        case "missing":
                            $missingScreen.find("a").click(function (e) {
                                e.stopPropagation();
                                e.preventDefault();
                                u.installPlugin();
                                return false;
                            });
                            $missingScreen.show();
                            break;
                        case "installed":
                            $missingScreen.remove();
                            break;
                        case "first":
                            break;
                        }
                    });
                    u.initPlugin(jQuery("#unityPlayer")[0], "Gamay/Gamay.unity3d");
                });
                -->
            </script>
            <style type="text/css">
                <!-- body {
                    font-family: Helvetica, Verdana, Arial, sans-serif;
                    background-color: white;
                    color: black;
                    text-align: center;
                }
                
                a:link,
                a:visited {
                    color: #000;
                }
                
                a:active,
                a:hover {
                    color: #666;
                }
                
                p.header {
                    font-size: small;
                }
                
                p.header span {
                    font-weight: bold;
                }
                
                p.footer {
                    font-size: x-small;
                }
                
                div.content {
                    margin: auto;
                    width: 960px;
                }
                
                div.broken,
                div.missing {
                    margin: auto;
                    position: relative;
                    top: 50%;
                    width: 193px;
                }
                
                div.broken a,
                div.missing a {
                    height: 63px;
                    position: relative;
                    top: -31px;
                }
                
                div.broken img,
                div.missing img {
                    border-width: 0px;
                }
                
                div.broken {
                    display: none;
                }
                
                div#unityPlayer {
                    cursor: default;
                    height: 600px;
                    width: 960px;
                }
                
                -->
            </style>
        </head>

        <body>
            <p class="header"><span>Unity Web Player | </span>Platformer</p>
            <div class="content">
                <div id="unityPlayer">
                    <div class="missing">
                        <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
                            <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
                        </a>
                    </div>
                    <div class="broken">
                        <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now! Restart your browser after install.">
                            <img alt="Unity Web Player. Install now! Restart your browser after install." src="http://webplayer.unity3d.com/installation/getunityrestart.png" width="193" height="63" />
                        </a>
                    </div>
                </div>
            </div>
            <p class="footer">&laquo; created with <a href="http://unity3d.com/unity/" title="Go to unity3d.com">Unity</a> &raquo;</p>
        </body>

        <!------------
                            Web-Embedded Game Code Ends Here
                        ------------->

        <div id="contact">
            <footer class="footerP">
                <h6>To contact me, you can reach me through gmail, facebook, or any other contact ways below:</h6>
                <p>gmail: jchisu31@gmail.com</p>

                <!-- Abslute Path when it is absolutely neseccary. Relative Paths whenever we can. -->
                <a href="http://gmail.com"><img class="icon" src="img/gmIcon.ico" alt="Social Media Icon" class="social-media-icon"></a>
                <a href="http://facebook.com"><img class="icon" src="img/fbIcon.png" alt="Social Media Icon" class="social-media-icon"></a>
                <p>&copy; 2015 Jesse Chi-Su</p>
            </footer>
        </div>


        <div class="secret">
            <a class='dropdown-button btn #f5f5f5 grey lighten-4' href='#' data-activates='dropdown1'><i class="material-icons">warning</i>SECRET TUNNEL</a>

            <ul id="dropdown1" class='dropdown-content'>
                <li><a href="https://www.youtube.com/watch?v=PX7zPlQjAr8">G0TT@ G0 F@$T</a></li>
                <li><a href="https://www.youtube.com/watch?v=bSQiE-Yt8Xg">N=\/=R [+]GRE</a></li>
                <li class="divider"></li>
                <li><a href="https://www.youtube.com/watch?v=QH2-TGUlwu4">N>-@N N>-AN N>-@N</a></li>
            </ul>

        </div>

        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <script src="js/main.js"></script>
    </div>
</body>